$container_width: 780px;
$sidebar_width: 230px;

div#container {
  margin: 0 auto;
  padding-top: 5px;
  width: $container_width;
}

div#content {
  float: left;
  width: $container_width - $sidebar_width - 20px;
  padding: 10px 10px 10px 0;
}

div#sidebar {
  float: left;
  width: $sidebar_width;
  background-color: #e8ffff;
  padding: 5px;
  font-size: 86%;
}


